footer {
    background-color:rgba(221, 17, 17, 0.932);;
    color: #bebebe;
    padding: 20px;
    height: 75px;
    font-family: fantasy;
}    

footer a {
    color: #dad6d6;
    font-family: fantasy;
    font-weight: 400;
}    